{% extends "base.html" %}
{% block title %}
<title>Про Товара</title>
{% endblock title %}

{% block content %}
<div class = "container py-3">
    <h1>Детальнее Товара</h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" value="{{item.title}}" placeholder="Введите названия"><br>
        <input type="number" class="form-control" name="price" id="price" value="{{item.price}}" placeholder="Введите цена"><br>
        <input type="submit" class="btn btn-success" value="Обновить">
        <a href="/{{item.id}}/delete" class="btn btn-danger">Удалить Товар</a>
    </form>

</div>  
{% endblock content %}